<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Nuestras Habilidades</h1>
    <p th:if="${skills.isEmpty()}" >No hay datos</p>
    <ul th:if="${!skills.isEmpty()}" >
      <li th:each="skill, stat : ${skills}">
          <span th:text="'Habilidad: ' + ${skill.name} + ' Nivel: ' + ${skill.level}"></span>
          <a th:href="@{'/skills/id/'+ ${stat.index}}">Ver detalle</a>
      </li>
    </ul>

    <form action="/skills" method="get">
        <label th:for="nombre">Buscar</label>
        <input type="text" th:value="${filter}" name="filter">
        <button type="submit">Buscar</button>
    </form>

</body>
</html>